/* Shared style */

header, main{
    margin: 50px 130px 100px 130px;
    font-family: "Mulish", sans-serif;
}
footer{
    font-family: "Mulish", sans-serif;
}
.orange-color{
    color: #FF5400;
}
.btn-primary{
    background-color: #FF5400;
    color: #FFF;
    /* border: 0; */
    /* width: 150px;
    height: 52px;
    border-radius: 8px; */
    width: 150px;
}

/* Header styling */

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore-journey{
    font-size: 2.25rem;
}
.travel-name, .header-link > ul {
    display: flex;
    align-items: center;
}
.travel-name img{
    margin-right: 15px;
}
.header-link  li{
    list-style: none;
    margin-right: 44px;   
}
.header-link .different-color{
    text-decoration: none;
    font-size: 1.125rem;
    color: #424247;
}
.home{
    text-decoration: none;
    font-size: 1.125rem;
    color: #FF5400;
}

/* Banner styling */

.banner{
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    border-radius: 16px;
    text-align: center;
    padding: 106px 100px;
}
.banner-heading{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    font-family: "Mulish", sans-serif;
}
.banner-paragraph{
    color: #FFF;
    text-align: center;
    font-weight: 400;
    padding: 0 15px 45px 215px;
    width: 670px;
    
}

.shape1{
    border: 0 solid none;
    display: flex;
    gap: 34px;
    background: rgba(255, 255, 255, 0.30);
    /* justify-content: space-between; */
    border-radius: 8px;
    padding: 10px;
    margin-left: 180px;
    margin-right: 180px;
}
/* .shape1 img{
    width: 20px;
    height: 20px;
} */
#diff-button{
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.shape1 > input{
    border-radius: 8px;
    border: 0;
    text-align: left;
    
    /* margin-left: 50px; */
}
.shape1 > select{
    padding: 10px 40px;
    border-radius: 8px;
    border: 0;
}

.shape1 > input, .btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    padding: 0;
}

/* Main part styling */

/* Tour explanation part styling */

.tour-explanation-container{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-explanation{
    margin-right: 50px;
}
.tour-explanation-container img{
    width: 540px;
    height: 550px;
}
.tour-explanation-heading{
    color: #131318;
    /* text-align: center; */
    font-size: 2.5rem;
    font-weight: 800;
}
.gray-color{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

/* Places styling */

.places-heading{
    margin-top: 100px;
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 5px;
}
#middle{
    text-align: center;
    margin-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
.row img{
    width: 100%;
    height: 100%;
}
.row{
    height: 300px;
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}
.row > div{
    flex: 1;
}

/* Card styling */

.choose-us-container{
    margin-top: 100px;
}
.choose-us-heading{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.middle-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}
.middle-card1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 215px;
    padding: 32px 25px 0px 32px;
}
.middle-card2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 215px;
    padding: 32px 25px 0px 32px;
}
.price-guarantee-container{
    width: 573px;
    height: 215px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 25px;
    margin-left: 330px;
    padding: 32px 25px 0px 32px;
    margin-bottom: 100px;
}

/* Newsletter styling */

.last-box-container{
    display: flex;
    justify-content: space-between;
}
.newsletter-container{
    padding-right: 100px;
    /* margin-left: 100px; */
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 300px;
    height: 470px;
}
.newsletter{
    margin-left: 30px;
    margin-top: 50px;
}
#news-paragraph{
    margin-left: 30px;
    margin-bottom: 50px;
}
.hr-line{
    margin-left: 30px;
    margin-right: -70px;
}
.newsletter-container input{
    width: 310px;
    border: 0 solid none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 15px;
    margin: 15px 30px;
    border: 0;
}
.news-image-container img{
    width: 800px;
    height: 470px;
    border-radius: 16px;
    padding-left: 110px;
}
#last-button{
    width: 340px;
    margin-left: 30px;
    margin-top: 15px;
}
#travel-button{
    height: 70px;
    width: 200px;
    transform: rotate(-19.628deg);
    position: relative;
    bottom: 110px;
    left: 700px;
}

/* Footer part */

.travel-name-end{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(19, 19, 24, 0.05);
    /* margin-top: 70px; */
    padding: 15px 240px 15px 240px;
}
.explore-end-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 90px;
    padding-bottom: 0;
}
.explore-end-container img{
    width: 40px;
    height: 46.673px;
}
.explore-journey-end{
    font-size: 2rem;
}
.last-explore-description{
    text-align: center;
}
.icons{
    text-align: center;
    margin-bottom: 50px;
}
#reserved{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 100px;
}



/* For small device */

@media screen and (max-width: 600px) {
    body{
        margin: 15px;
    }
    .header-link > ul{
        flex-direction: column;
        align-items: center;
    }
    .header-link-child{
        margin-right: 0;
        padding-left: 5px;
        font-size: 0.8rem;
    }
    
    .header-section{
        justify-content: space-between;
        align-items: center;
    }
    .explore-journey{
        font-size: 1.35rem;
        max-width: 100%;
        /* height: 20px; */
        display: flex;
    }
    .banner{
        padding: 0 5px;
        /* margin: 0 auto; */
        /* max-width: 800px; */
        justify-content: center;
    }
    .banner-heading{
        font-size: 1.38rem;
        padding-top: 32px;
    }
    .shape1{
        flex-direction: column;
        gap: 15px;
    }
    /* .banner > .shape1{
        /* width: 80px; 
    } 
    */
    .tour-explanation-container{
        flex-direction: column;
    }
    .tour-explanation-heading{
        /* display: flex; */
        width: 380px;
        /* padding-left: 120px; */
        font-size: 1.4rem;
    }
    .tour-explanation{
        padding-left: 155px;
    }
    .tour-explanation-container img{
        width: 440px; 
        margin-top: 20px;
        /* position: sticky; */
        overflow-x: hidden;
        padding-left: 140px;
    }
    .places-heading{
        text-align: center; 
        font-size: 1.25rem;
        font-weight: 800;
        display: flex;
        width: 240px;
    }
    #middle{
        text-align: center;
        font-size: 0.88rem;
        font-weight: 400;
        padding-left: 15px;
        padding-right: 0px;
    }
    .row{
        flex-direction: column;
        height: auto;
        width: 450px;
        padding-right: 30px;
        margin-left: -110px;
    }
    .middle-card-container{
        flex-direction: column;
        gap: 20px;
    }
    .price-guarantee-container{
        margin-left: -120px;
        width: 400px;
        padding-bottom: 40px;
    }
    .middle-card1, .middle-card2{
        width: 400px;
        padding-bottom: 40px;
        margin-left: 135px;
    }

    .choose-us-heading{
        font-size: 1.25rem;
        /* display: flex; */
        width: 190px;
        padding-left: 5px;
        /* height: 25px; */
    }
    #middle{
        width: 390px;
        margin-left: -80px;
        text-align: left;
        margin-bottom: 50px;
    }
    .news-image-container img{
        padding-left: 140px;
        width: 450px;
        height: 350px;
    }
    .newsletter-container{
        padding-right: 40px; 
        /* padding-left: 0px; */
        margin-top: -40px;
        height: 500px;
        width: 430px;
        margin-left: 140px;
    }
    .newsletter{
        padding-top: 30px;
    }
    #news-paragraph{
        padding-bottom: 20px;
        width: 310px;
        /* height: 70px; */
    }
    .hr-line{
        margin-right: -10px;
    } 
    .newsletter-container input{
        width: 380px;
        /* padding: 15px;
        margin: 15px 30px;
        border: 0; */
    }
    #last-button{
        width: 410px;
    }
    #travel-button{
        position: relative;
        left: 380px;
    }
    .last-box-container{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }
    .travel-name-end{
        padding: 0;   
    }
    .explore-end-container{
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .explore-journey-end{
        font-size: 1.3rem;
        display: flex;
        gap: 5px;
    }
    .last-explore-description{
        text-align: center;
        font-size: 0.8rem;
        width: 280px;
        height: 90px;
        justify-content: center;
        padding-left: 30px;
    }
    .icons{
        display: flex;
        gap: 30px;
        text-align: center;
        padding-left: 90px;
    }
    #reserved{
        display: flex;
        justify-content: center;
    }
}