/* Shared style */

body{
    margin: 50px 130px 100px 130px;
    font-family: "Mulish", sans-serif;
}
.orange-color{
    color: #FF5400;
}
.btn-primary{
    background-color: #FF5400;
    color: #FFF;
    /* border: 0; */
    /* width: 150px;
    height: 52px;
    border-radius: 8px; */
    width: 150px;
}

/* Header styling */

.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.explore-journey{
    font-size: 2.25rem;
}
.travel-name, .header-link > ul {
    display: flex;
    align-items: center;
}
.travel-name img{
    margin-right: 15px;
}
.header-link  li{
    list-style: none;
    margin-right: 44px;   
}
.header-link .different-color{
    text-decoration: none;
    font-size: 1.125rem;
    color: #424247;
}
.home{
    text-decoration: none;
    font-size: 1.125rem;
    color: #FF5400;
}

/* Banner styling */

.banner{
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    border-radius: 16px;
    text-align: center;
    padding: 106px 100px;
}
.banner-heading{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    
}
.banner-paragraph{
    color: #FFF;
    text-align: center;
    font-weight: 400;
    padding: 0 15px 45px;
}

.shape1{
    border: 0 solid none;
    display: flex;
    gap: 24px;
    background: rgba(255, 255, 255, 0.30);
    justify-content: center;
    border-radius: 8px;
    padding: 10px;
}
.shape1 > input{
    /* border-radius: 8px; */
    /* border: 0; */
    text-align: left;
    /* padding: 10px 10px; */
}

.shape1 > input, .btn-primary{
    width: 150px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    padding: 0;
}

/* Main part styling */

/* Tour explanation part styling */

.tour-explanation-container{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-explanation{
    margin-right: 50px;
}
.tour-explanation-container img{
    width: 540px;
    height: 550px;
}
.tour-explanation-heading{
    color: #131318;
    /* text-align: center; */
    font-size: 2.5rem;
    font-weight: 800;
}
.gray-color{
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
}

/* Places styling */

.places-heading{
    margin-top: 100px;
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 5px;
}
#middle{
    text-align: center;
    margin-bottom: 30px;
    padding-left: 200px;
    padding-right: 200px;
}
.row img{
    width: 100%;
    height: 100%;
}
.row{
    height: 300px;
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}
.row > div{
    flex: 1;
}

/* Card styling */

.choose-us-container{
    margin-top: 100px;
}
.choose-us-heading{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.middle-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}
.middle-card1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 215px;
    padding: 32px 25px 0px 32px;
}
.middle-card2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 215px;
    padding: 32px 25px 0px 32px;
}
.price-guarantee-container{
    width: 573px;
    height: 215px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 25px;
    margin-left: 210px;
    padding: 32px 25px 0px 32px;
}

/* 
For desktop

@media screen and (min-width: 992) and (max-width: 1280px){
    /* .shape1{
        width: 800px;
    } 
    .btn-primary{
        width: 150px;
        padding: 20px 25px;
        border: 0;
    }
} 
*/


/* For small device */

@media screen and (max-width: 600px) {
    body{
        margin: 15px;
    }
    .header-link > ul{
        flex-direction: column;
        align-items: center;
    }
    .header-link-child{
        margin-right: 0;
        padding-left: 5px;
        font-size: 0.8rem;
    }
    
    .header-section{
        justify-content: space-between;
        align-items: center;
    }
    .explore-journey{
        font-size: 1.35rem;
        max-width: 100%;
        /* height: 20px; */
        display: flex;
    }
    .banner{
        padding: 0 5px;
        /* margin: 0 auto; */
        /* max-width: 800px; */
        justify-content: center;
    }
    .banner-heading{
        font-size: 1.38rem;
        padding-top: 32px;
    }
    .shape1{
        flex-direction: column;
        gap: 15px;
    }
    /* .banner > .shape1{
        /* width: 80px; 
    } 
    */
    .tour-explanation-container{
        flex-direction: column;
    }
    .tour-explanation-container img{
        max-width: 100%;
        margin-top: 20px;
        /* position: sticky; */
        overflow-x: hidden;
    }
    .places-heading{
        text-align: center; 
        font-size: 1.25rem;
        font-weight: 800;
    }
    #middle{
        text-align: center;
        font-size: 0.88rem;
        font-weight: 400;
        padding-left: 15px;
        padding-right: 0px;
    }
    .row{
        flex-direction: column;
        height: auto;
        /* width: 300px; */
    }
    .middle-card-container{
        flex-direction: column;
        gap: 20px;
    }
    .price-guarantee-container{
        margin-left: 0;
        width: 300px;
        padding-bottom: 40px;
    }
    .middle-card1{
        width: 300px;
        padding-bottom: 40px;
    }
    .middle-card2{
        width: 300px;
        padding-bottom: 40px;
    }
    .choose-us-heading{
        font-size: 1.25rem;
    }
}